<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
</head>
<body>
    <h1> CURRICULUM VITAE</h1>
    <img src="{{url_for('static', filename='kris.jpg') }}" width="200" alt="foto perfil">
    <h2> Datos Personales</h2>
    <p> Nombres: Kristel Nicole</p>
    <p> Apellidos: Vargas Rugel</p>
    <p> Edad: 19 años</p>
    <p> Direccion: Socio Vivienda 1 Mz 12D Villa30</p>
    <p> Telefono: 0962788009</p>
    <p> Correo: kristelvargas911@gmail.com</p>
    <h2>Informacion Academica</h2>
    <p> Escuela: Jose Joaquin De Olmedo</p>
    <p> Secundaria: Academia Naval Almirante Illingworth</p>
    <p> Educacion Superior: Universidad Guayaquil (4to Semestre)</p>
    <h2> Cursos Realizados</h2>
    <p><strong>Suden- Centro Internacional Buenos Aires: </strong>Experto Cajero:</p>
    <ul>
        <li>Bancario</li>
        <li>Comercial</li>
        <li>Ventas en caja comercial</li>
    </ul>
    <h2>Referencias Personales</h2>
    <ul>
        <li> LCDO. MARLON VILLON A.</li>
        <p>Telefono: 0976543244</p>
        <p>ASISTENTE DE INFRAESTRUCTURA-ECLIPSOFT</p>
        <li>ING. LUIS GARCIA.</li>
        <p>Telefono: 0923456789</p>
        <p>MICROEMPRESARIO- CHELA BEER</p>
    </ul>

</body>
</html>